<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/theme/dracula.min.css"
    integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  </head>
  <body>
    <h2><%= problem.title %></h2>
    <div>정답자 수: <%= problem.completed_users %></div>
    <div>문제 레벨: <%= problem.difficulty_level %></div>
    <div>문제 설명: <%= problem.description %></div>
    </ul>
    <form action="/problems/<%= problem.id %>" method="POST">
      <label>
        <h4>Solution Code</h4>
        <textarea name="solution" class="solution-code"></textarea>
      </label>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"
    integrity="sha512-6Q5cHfb86ZJ3qWx47Pw7P5CN1/pXcBMmz3G0bXLIQ67wOtRF7brCaK5QQLPz2CWLBqjWRNH+/bV5MwwWxFGxww=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  >
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/javascript/javascript.min.js"
    integrity="sha512-9mEZ3vO6zMj0ub2Wypnt8owrHeoJCH22MkzeJ9eD3hca8/Wlqo5pEopI6HloA0F53f/RkRkHs8TyZMxbwVmnFw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  >
  </script>
  <script src="/javascripts/codeMirror.js"></script>
</html>
